*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: border-box;
}
#signup {
    width: max-content;
    margin: 20rem 0rem 2rem 50rem;
    font-family: "Segoe UI", sans-serif;
    padding: 2rem 2rem;
    background: #615e5e;
    border-radius: 4px;
    border: 1px solid #302d2d;
    animation: popup 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
@keyframes popup {
    0% {
        transform: scale(0.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #e7e7e7;
}
.input-parent {
    display: block;
    margin-bottom: 20px;
}
label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #a4a4a4;
}
.input-parent input {
    padding: 10px 8px;
    width: 100%;
    font-size: 16px;
    background: #323131;
    border: none;
    color: #c7c7c7;
    border-radius: 4px;
    outline: none;
    transition: all 0.2s ease;
}
.input-parent input:hover {
    background: #0d0d0d;
}
.input-parent input:focus {
    box-shadow: 0px 0px 0px 1px #0087ff;
}
#signup button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #0a0c10;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: #f4f4f4;
    transition: all 0.2s ease;
    border: 2px;
}
#signup button:hover {
    opacity: 0.9;
}
#signup button:focus {
    box-shadow: 0px 0px 0px 3px black;
}