.profile-image{
    width: 15%;
    margin-right: 2%;
    border-radius: 50px;
    padding: 2%;
}


.blog-container{
    display: flex;
    align-items: center;
}

.blog-list-item{
    background-color: rgb(64, 60, 60);
    padding:2%;
    margin: 0.2% 2% 2% 2%;
    border-radius: 10px;
    min-width: 80%;
    color:aliceblue;
    width: fit-content;
}

.profile-container{
    display: flex;
    border-bottom:2px solid gray;
    align-items: center;
    
}

.blog-container button{
    color: black;
}

.blog-tags-contianer{
    color:aliceblue;
    background-color: rgb(82, 83, 83);
    margin-top: 2%;
    padding: 2% 0% 2% 5%;
    list-style: none;
    display: flex;
   
}

.blog-sub-container{
    width: 100%;
}

.blog-tags-contianer li{
    margin-left: 2%;
}

.post-containet{
    font-size: 1.2rem;
}

.blog-header{
    font-size: 1.5rem;
}

#add-to-fav{
    margin-left: 2%;
    color: rgb(244, 240, 240);
    background-color: rgb(158, 152, 95);
    padding:1% 2% 1% 2%;
    display: flex;
    align-items: center;
    margin: 2%;
    font-size: 1rem;
    width: 30%;
}

.fav-start{
    color:yellow;
    margin-left: 8%;
    font-size: 1rem;
}

.non-fev-star{
    color: aliceblue;
    margin-left: 8%;
    font-size: 1rem;
}

#follow-button{
    margin-left: 2%;
    color: rgb(244, 240, 240);
    background-color: blue;
    padding: 2%;
    width: 20%;
}

.main-profile-image{
    height: 300px;
    width:400px;
    margin:4%;
}