
.blog-list{
    margin-top: 20%;
    padding-bottom: 5%;
    margin-left: 5%;
    list-style: none;
}

.blogs-tags-main-container{
    display: flex;
    justify-content: space-between;
}

.tags-container{
    margin-top: 30%; 
    background-color: rgb(53, 51, 51);
    color: aliceblue;
    height: fit-content;
    padding: 4%;
    margin-left: 10%;
    margin-right: 8%;
}

.tag-button{
    margin: 2px 4px 2px 2px;
    padding: 2%;
    background-color: rgb(67, 65, 65);
}