

.nav-items{
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.navlink{
    color:#000;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.navlink:hover{
  transform:translate(2px) ;
}

h1{
  font-family: times, Times New Roman, times-roman, georgia, serif;
	color: rgb(3, 3, 3);
	margin: 0;
	padding: 0px 0px 2rem 0px;
	font-size: 51px;
	line-height: 44px; 
	letter-spacing: -2px;
	font-weight: bold;
}

h1 hr{
	background-color: #000;
	color: #000;
}

.moto{
	font-size: 1.5rem;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-bar {
	background: linear-gradient(-45deg, rgba(90, 103, 112, 0.333),rgba(2, 240, 248, 0.4), #556670, #b7aee9, #83b9dd, #b2dee5);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;  
    text-align: center;
    height: 20%;
    padding: 1rem;
    width: 100vw;
    margin: 0;
    position: fixed;
    top:0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



  
   